body {
    background: #E2DDEA;
}

h1 {
    text-align: center;
    font-family: "glodok",
            sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
}

#clock {
    font-size: 40px;
    vertical-align: middle;
}

#arrow {
    padding-right: 5px;
font-size: 18px;
vertical-align: middle;
}

h2 {
    font-family: "glodok",
            sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;

    margin: 0;    
}

.container {
    width: 600px;
    margin: 0 auto;
    border: 2px solid #1A1A1A;
    border-radius: 40px;
    background: #E2DDEA;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 25px;
}

select {
    font-family: Poppins;
    font-weight: 500;
    border: 2px solid #1A1A1A;
    border-radius: 30px;
    background: #f0ebf4;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80%;
    padding: 12px;
}


.city {
    display: flex;
    margin: 10px auto;
    width: 80%;
    background: #BAA4EB;
        border-radius: 20px; 
    padding: 30px 30px;    
    justify-content: space-between;
}

#paris {
    background-color: #F5F5F5;
}
#london {
    
    background-color: #BAA4EB;
}
#tokyo {
    background-color: #E8D174;
    
}
#sydney {
    background-color: #F5F0DB;

}

.date {
    font-family: Poppins;
        font-weight: 400;
        font-size: 15px;
    }
    
 .time {
        
        font-family: Poppins;
            font-weight: 600;
            font-size: 30px;
}

.time small {
    font-weight: 400;
    font-size: 12px;
    vertical-align: middle;
}

a {
    color: #1A1A1A;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: Poppins;
    font-size: 15px;
}

footer {
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    margin: 30px;
}
